@import 'variables';
.create-post-modal {
    background: white;
    padding: 1em 2em;
    position: relative;
    margin-top: 5em;
    display: none;
    position: fixed;
    top: 10vh;
    width: 40vw;
    box-shadow: 0 0 0 100vh rgba(#022346, 0.6);
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
    .form__label {
        font-size: 1.3rem;
        font-weight: 500;
    }
    .form-control {
        font-weight: 500;
        font-size: 1.2rem;
        font-family: 'sans-serif';
    }
    legend {
        font-size: 2.0rem;
        font-weight: 500;
    }
    .btn-outline-success {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.is-visible {
    display: block;
}

.modal-close {
    position: absolute;
    top: -0.75em;
    left: -0.75em;
    padding-top: 4px;
    text-align: center;
    font-weight: bolder;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    &:hover {
        filter: brightness(0.965);
    }
}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}