@import "create-post-modal", "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap');

.feed {
    width: 40vw;
    margin: 0 auto;
}

.feed-post {
    background-color: #f5f5f5;
    font-size: 1rem;
    padding: 1em;
    margin: 2rem 0em;
    display: grid;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
    grid-template:
        "album-art title profile-photo" 0.5fr
        "album-art post-content post-content" 12em
        "upvote tags tags" min-content
        / minmax(10em, 4.5fr) minmax(4em, 8fr) minmax(2em, 0.5fr);

    gap: 0.5em 1em;
}

.post-profile-photo {
    grid-area: profile-photo;
    position: relative;

    a {
        cursor: pointer;
    }
    a::after {
        content: attr(data-tooltip);
        background-color: whitesmoke;
        color: black;
        position: absolute;
        bottom: -0.25em;
        left: 2em;
        padding: 0.2em 0.4em;
        border-radius: 15px;
        display: none;
    }

    a:hover::after {
        display: block;
    }
}
.post-title {
    grid-area: title;
}

.post-album-art{
    grid-area: album-art;

    img{
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
        cursor: pointer;
        transition: all ease-in-out 200ms;
        &:hover {
            scale: 1.008;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }
    }
}

.post-content {
    grid-area: post-content;
}

.post-tags {
    grid-area: tags;

    .tag-link {
        text-decoration: none;
        text-transform: lowercase;
        border-radius: 1.5em;
        border: 1px solid #00b38b;
        padding: 0.25em 0.5em;
        margin-right: 0.25em;
        font-size: 1rem;
        color: #0d5848;
        transition: all ease-in-out 250ms;

        &:hover{
            background-color: #00b38b;
            color: white;
            font-size: 1.02rem;
        }
        // .tag-link-one {
        //     color: #00b38b;
        // }

        // .tag-link-two {
        // }
    }
}