.feed {
    width: 40vw;
    margin: 0 auto;
}


.feed-post {
    background-color: white;
    font-size: 1rem;
    margin: 1em 0em;
    padding: 1em;
    border-radius: 10px;

    display: grid;
    grid-template: "album-art title title" min-content
    "album-art post-content post-content" 10em
    ". . footer" 1em
    / 3fr 2fr 5fr;

    gap: 0 1.5em;
}

.post-title {
    grid-area: title;
}

.post-album-art{
    grid-area: album-art;

    img{
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
        cursor: pointer;
        transition: all ease-in-out 200ms;
        &:hover {
            scale: 1.008;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }
    }
}

.post-content {
    grid-area: post-content;
}

.post-tags {
    grid-area: tags;

    .tag-link {
        text-decoration: none;
        text-transform: lowercase;
        border-radius: 1.5em;
        border: 1px solid #00b38b;
        padding: 0.25em 0.5em;
        margin-right: 0.25em;
        font-size: 1rem;
        color: #0d5848;
        transition: all ease-in-out 250ms;

        &:hover{
            background-color: #00b38b;
            color: white;
            font-size: 1.02rem;
        }
        // .tag-link-one {
        //     color: #00b38b;
        // }

        // .tag-link-two {
        // }
    }
}