.dropdown {
    padding-right: 0;
    margin-left: auto;
    align-self: flex-end;
    transform: translateY(-15%);
}

.dropdown-icon {
    height: 25px;
    width: 25px;
    align-items: center;
    background-image: url("../Resources/caret-down.svg");
    background-size: contain;
    color: black;
}

.dropdown-icon:hover {
    background-image: url("../Resources/caret-down-solid.svg");
    background-size: contain;
}
