@import 'feed', 'welcome', 'navbar';

body {
    background: $bg-color;
    height: calc(100vh - 5rem);
    overflow-x: hidden;
}

.container-box {
    grid-area: middle;
    font-family: 'Montserrat';
    width: 80%;
    margin: 2em auto;
    padding: 15px;
    border-radius: 10px;
    // background: white;
    background: $feed-post-color;
    color: $feed-post-text;
    font-size: 1.4rem;
    .form-control {
        background-color: $form-control-bg;
        border-color: $feed-post-text;
        color: white;        
        &:focus {
            background-color: $feed-post-color;
            color: white;
        }
    }

    legend {
        font-weight: 500;
        color: white;
        border-bottom: 1px solid $feed-post-text;
        margin-bottom: 0.5em;
    }

    .btn {
        font-weight: 500;
    }
}

.my-container {
    width: 100%;
    padding: 2rem 0 2rem 0;
    background: $bg-color;
    min-height: 100%;
    display: grid;
    grid-template:  "alert alert alert" min-content
                    "left middle right" min-content / 3fr 4fr 3fr;
}

.alert {
    grid-area: alert;
}