{% extends "layout.html" %}
<!-- is this needed? -->
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="feed">
    <!-- {% if current_user.is_authenticated %} -->
    <!-- {% endif %} -->

   {% for post in posts %}
    <div class="feed-post">
        <div class="post-profile-photo">
            <a href="#" data-tooltip="{{post.author.username}}">
            <img src="{% static post.author.userprofile.profile_photo.url %}"
             class="rounded-circle" height= 35px>
            </a>
        </div>
        
        <div class="post-title">
            <h2>{{post.title}} - {{post.artist}}</h2>
        </div>
        
        <div class="post-album-art">
            <a href="{{post.spotifylink}}" target="_blank">
            <img src = "{% static 'AlbumArt/'|add:post.albumart %}" >
            </a>
        </div>
        
        <div class="post-content">
            {{post.content}}
        </div>
        <div class="post-tags">
            {% for genre in post.genres.all %}
                <a class="tag-link" href="#">
                    {{genre.name}}
                </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="container-box">
        <form method="POST" action="">
            {% csrf_token %}
            <legend class="border-bottom">Create Post</legend>  
                        {{form.content.label_tag}}
    </div>
{% endblock %}