{% extends "layout.html" %}
{% load static %}
{% block content %}

    <div class="left-panel" {% if user == profile_user %} data-owner='true' {% endif %}>
        <div class="profile-photo">
            <img src="{{profile_user.userprofile.profile_photo.url}}" />
        </div>
        <button class="follow-btn" data-clicked="false"> 
            {% if user != profile_user %} Follow {% endif %} {{profile_user.username}}
        </button>
    </div>

    <div class="feed" data-user-id = "{{user.id}}">
        <h1>
            {% if user != profile_user %}
                Posts by {{profile_user.username}}
            {% else %}
                Your Posts
            {% endif %}
        </h1>
        {% for post in posts %}
            <div class="feed-post" data-post-id={{post.id}}>
                <div class="post-profile-photo">
                    <a href="{% url 'profile' username=post.author.username %}" data-tooltip="{{post.author.username}}">
                    <img src="{{ post.author.userprofile.profile_photo.url }}"
                    class="rounded-circle" height= 35px>
                    </a>
                </div>
                
                <div class="post-title">
                    <h2>{{post.title}} - {{post.artist}}</h2>
                </div>
                
                <div class="post-album-art">
                    <a href="{{post.spotifylink}}" target="_blank">
                    <img src = "{{ post.albumart.url }}">
                    </a>
                </div>
                
                <div class="post-content">
                    {{post.content}}
                </div>
                {% if user.is_authenticated %}
                    <div class="post-upvote">
                        <button class="upvote-btn" 
                            {% if post.id in liked_posts %}
                                data-clicked="true"
                            {% else %}
                                data-clicked="false"
                            {% endif %}
                        >
                        Upvote
                        <span class="upvotes-count">{{post.upvotes}}</span>
                        </button>
                </div>
                {% endif %}
                <div class="post-tags">
                    {% for genre in post.genres.all %}
                        <a class="tag-link" href="/genre/{{genre.name|slugify}}/">
                            {{genre.name}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    

    <script src="{% static 'JS/follow.js' %}"></script>

{% endblock %}