{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="left-panel" {% if user == profile_user %} data-owner="true" {% endif %}>
        <div class="profile-photo">
            <img src="{{profile_user.userprofile.profile_photo.url}}" />
        </div>
        <button class="follow-btn" data-clicked="false"> 
            {% if user != profile_user %} Follow {% endif %} {{profile_user.username}}
        </button>
    </div>

    <h1 style="grid-area: middle">
        {% if user != profile_user %}
            Posts by {{profile_user.username}}
        {% else %}
            Your Posts
        {% endif %}
    </h1>

    {% include 'includes/feed-posts.html' %}
    
    <div class="upload-photo-modal">
        <div class="modal-close">
            X
        </div>
        <div class="modal-container">
            <img src = "{% static 'Resources/upload-icon.png' %}" class="upload-photo-icon" />
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% render_field upload_form.image class="upload-button" %}
                <input type="submit" value="Upload" class="follow-btn" />
            </form>
        </div>
    </div>
    <script src="{% static 'JS/profile.js' %}"></script>

{% endblock %}