@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");
.profile-photo {
  position: relative;
  background-color: black;
}

.left-panel[data-owner="true"] {
  cursor: pointer;
}

.left-panel[data-owner="true"] .profile-photo::after {
  content: 'Change Photo';
  text-align: center;
  white-space: none;
  position: absolute;
  display: block;
  color: #1db954;
  font-size: 1.2rem;
  background-color: #040404;
  width: 75%;
  border-radius: 5em;
  top: 45%;
  left: 12%;
  display: none;
  font-family: sans-serif;
}

.left-panel[data-owner="true"] .profile-photo:hover::after {
  display: block;
}

.left-panel[data-owner="true"] .profile-photo:hover img {
  opacity: 0.4;
}

.follow-btn {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #929b8c;
  background-color: #1db954;
  background-color: transparent;
  border: 1px solid #929b8c;
  font-family: sans-serif;
  border-radius: 1.5em;
  padding: 0.25em 0.5em;
  margin: 1em 0.25em 0em 0em;
  font-size: 1.00rem;
  font-weight: 550;
  width: 10rem;
  outline: none;
}

.follow-btn:focus {
  outline: none;
}

.follow-btn:hover {
  color: #1db954;
  border-color: #1db954;
}

.follow-btn[data-clicked='true'] {
  outline: none;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background-color: #1db954;
  color: white;
  border-color: transparent;
}

h1 {
  color: white;
  font-family: 'Montserrat';
}

.upload-photo-modal {
  background: white;
  padding: 2em 4em;
  display: none;
  position: fixed;
  top: 20vh;
  width: 20vw;
  left: 40vw;
  -webkit-box-shadow: 0 0 0 150vh rgba(29, 185, 84, 0.05);
          box-shadow: 0 0 0 150vh rgba(29, 185, 84, 0.05);
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
}

.upload-photo-modal .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-photo-modal .modal-container img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 0px solid #2ccfec;
  border-radius: 50%;
  padding: 0.5em;
  -webkit-transition: border-width 50ms ease-in;
  transition: border-width 50ms ease-in;
  cursor: pointer;
}

.upload-photo-modal .modal-container img:hover {
  border-width: 2px;
}

.create-post-modal {
  background: white;
  padding: 1em 2em;
  display: none;
  position: fixed;
  top: 10vh;
  width: 40vw;
  left: 30vw;
  -webkit-box-shadow: 0 0 0 100vh rgba(29, 185, 84, 0.05);
          box-shadow: 0 0 0 100vh rgba(29, 185, 84, 0.05);
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
}

.create-post-modal .form__label {
  font-size: 1.3rem;
  font-weight: 500;
}

.create-post-modal .form-control {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'sans-serif';
}

.create-post-modal legend {
  font-size: 2.0rem;
  font-weight: 500;
}

.create-post-modal .btn-outline-success {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.is-visible {
  display: block;
  z-index: 2;
}

.modal-close {
  position: absolute;
  top: -0.75em;
  left: -0.75em;
  padding-top: 4px;
  text-align: center;
  font-weight: bolder;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.modal-close:hover {
  -webkit-filter: brightness(0.965);
          filter: brightness(0.965);
}

@-webkit-keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes modalFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.feed-post {
  background-color: #202224;
  font-size: 1rem;
  padding: 0.75em;
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
  grid-template: "album-art title profile-photo" 0.5fr "album-art post-content post-content" 12em "post-upvote tags tags" min-content/minmax(15em, 4.5fr) minmax(4em, 8fr) minmax(2em, 0.5fr);
  gap: 0.5em 1em;
}

.post-profile-photo {
  grid-area: profile-photo;
  position: relative;
}

.post-profile-photo a {
  cursor: pointer;
}

.post-profile-photo a::after {
  content: attr(data-tooltip);
  background-color: whitesmoke;
  color: black;
  position: absolute;
  top: 30px;
  left: 2em;
  padding: 0.2em 0.4em;
  border-radius: 15px;
  display: none;
}

.post-profile-photo a:hover::after {
  display: block;
}

.post-title {
  grid-area: title;
  color: white;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
}

.post-album-art {
  grid-area: album-art;
  -webkit-transition: -webkit-transform ease-in-out 200ms;
  transition: -webkit-transform ease-in-out 200ms;
  transition: transform ease-in-out 200ms;
  transition: transform ease-in-out 200ms, -webkit-transform ease-in-out 200ms;
  position: relative;
}

.post-album-art img {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: opacity ease-in-out 200ms;
  transition: opacity ease-in-out 200ms;
}

.post-album-art:hover {
  -webkit-transform: scale(1.008);
          transform: scale(1.008);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.post-content {
  grid-area: post-content;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #929b8c;
  word-wrap: break-word;
}

.post-upvote {
  grid-area: post-upvote;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

.post-upvote .upvote-btn {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #929b8c;
  background-color: transparent;
  border: 1px solid #929b8c;
  border-radius: 1.5em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.25em 0em 0em;
  font-size: 1.05rem;
  font-weight: 550;
  width: 10rem;
}

.post-upvote .upvote-btn:hover {
  color: #1db954;
  border-color: #1db954;
}

.post-upvote .upvote-btn[data-clicked='true'] {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background-color: #1db954;
  color: white;
  border-color: transparent;
}

.post-tags {
  grid-area: tags;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post-tags .tag-link {
  text-decoration: none;
  border-radius: 1.5em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.25em 0em 0em;
  font-size: 1.05rem;
  font-weight: 550;
  background-color: #0e0f0f;
  color: #1db954;
  -webkit-transition: color ease-in-out 150ms;
  transition: color ease-in-out 150ms;
  font-family: sans-serif;
  text-transform: capitalize;
}

.post-tags .tag-link:hover {
  color: white;
}

.sign-up-box {
  grid-area: right;
  height: 45vh;
  margin: 0 5vw;
  background-color: #202224;
  display: -ms-grid;
  display: grid;
  grid-template: "hero" 3fr "intro-txt" 2fr "link" -webkit-min-content / 1fr;
  grid-template: "hero" 3fr "intro-txt" 2fr "link" min-content / 1fr;
  font-family: 'Montserrat';
  font-size: 1.1rem;
}

.sign-up-box .hero {
  background-color: #5a5858;
  background-image: url("../Resources/signupboxbg.3caba8509159.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.sign-up-box .intro-text {
  color: #929b8c;
  margin-top: 1em;
  text-align: center;
  padding: 0 1em;
}

.sign-up-box a {
  margin: 0 auto 1em auto;
  font-weight: bold;
  background-color: #1db954;
  color: white;
  border-radius: 4em;
  padding: 0.25em 2em;
  text-decoration: none;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}

.sign-up-box a:hover {
  color: white;
  background-color: #068d35;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../Resources/welcome-bg1.31b6da375070.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  margin-top: 15%;
  width: 45vw;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h2 {
  text-align: center;
  color: white;
  font-size: 3.6rem;
}

.content .link-container {
  margin-top: 4em;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content .link-container a {
  margin: 0 auto 1em auto;
  font-weight: bold;
  background-color: #1db954;
  color: white;
  border-radius: 4em;
  padding: 0.25em 2em;
  text-decoration: none;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}

.content .link-container a:hover {
  color: white;
  background-color: #068d35;
  text-decoration: none;
}

.my-navbar {
  display: -ms-grid;
  display: grid;
  grid-template: "navbar__brand . create__post nav__links profile__photo" 3em / 2fr 18fr 4fr 2fr 1fr;
  width: 100%;
  background-color: #040404;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 1em 1em;
}

.navbar__brand {
  grid-area: navbar__brand;
  text-transform: uppercase;
  color: #1db954;
  font-weight: 700;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.navbar__brand:hover {
  text-decoration: none;
  color: white;
}

.create__post {
  grid-area: create__post;
  background-color: #1db954;
  padding: 0 1em;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column wrap;
          flex-direction: column wrap;
  max-width: 80%;
  white-space: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out;
}

.create__post:hover {
  background-color: #068d35;
}

.nav__links {
  grid-area: nav__links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #9ba7b0;
  margin-right: 1em;
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.nav__links a:hover {
  color: white;
  text-decoration: none;
}

.nav__links .login {
  display: block;
  margin-right: 0;
}

.profile__photo {
  grid-area: profile__photo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  position: relative;
}

.profile__photo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.profile-dropdown {
  border-radius: 5px;
  position: absolute;
  background: #040404;
  top: 4em;
  left: -7em;
  white-space: nowrap;
  display: none;
}

.profile-dropdown ul {
  padding: 0 0 0.1em 0;
  margin: 0;
}

.profile-dropdown li {
  font-size: 1.4rem;
  margin-bottom: 0.1em;
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.profile-dropdown a {
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.profile-dropdown a:hover {
  text-decoration: none;
}

.dropdown-is-visible {
  display: block;
}

.genre-info h1 {
  font-family: 'Montserrat';
  color: white;
}

.genre-info p {
  font-family: sans-serif;
  color: #929b8c;
  font-size: 1.2rem;
}

body {
  background: black;
  min-height: calc(100vh - 5rem);
  overflow-x: hidden;
}

.container-box {
  grid-area: middle;
  font-family: 'Montserrat';
  width: 80%;
  margin: 2em auto;
  padding: 15px;
  border-radius: 10px;
  background: #202224;
  color: #929b8c;
  font-size: 1.4rem;
}

.container-box .form-control {
  background-color: #181a1b;
  border-color: #929b8c;
  color: white;
}

.container-box .form-control:focus {
  background-color: #202224;
  color: white;
}

.container-box legend {
  font-weight: 500;
  color: white;
  border-bottom: 1px solid #929b8c;
  margin-bottom: 0.5em;
}

.container-box .btn {
  font-weight: 500;
}

.my-container {
  width: 100%;
  padding: 2rem 0 2rem 0;
  background: #0e0f0f;
  display: -ms-grid;
  display: grid;
  grid-template: ". alert1 ." -webkit-min-content "left middle right" -webkit-min-content / 3fr 4.5fr 3fr;
  grid-template: ". alert1 ." min-content "left middle right" min-content / 3fr 4.5fr 3fr;
  min-height: calc(100vh);
}

.alert {
  grid-area: alert1;
}

.feed {
  grid-area: middle;
}

.left-panel {
  grid-area: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */